:root {
    --primary-color-red: rgb(221, 0, 0);
}

.dadListOrder {
    width: 60%;
}

.dadTheOrder,
.HeadTheOrder,
.listaccount,
.HeadListAccount {
    width: 100%;
    text-align: center;
}

.dadTheOrder .listTheOrder tbody tr td {
    padding: 10px;
}

.HeadTheOrder tbody tr th {
    padding: 10px 0;
}

.dadTheOrder .listTheOrder tbody tr td:nth-child(5),
.HeadTheOrder tbody tr th:nth-child(5) {
    width: 7%;
}

.dadTheOrder .listTheOrder tbody tr td:nth-child(7),
.HeadTheOrder tbody tr th:nth-child(7) {
    width: 10%;
}

.HeadTheOrder tbody tr th:nth-child(7) {
    transform: translateX(-10px);
}

.dadTheOrder .listTheOrder tbody tr td:nth-child(6),
.HeadTheOrder tbody tr th:nth-child(6) {
    width: 15%;
}

.dadTheOrder .listTheOrder tbody tr td:nth-child(1),
.HeadTheOrder tbody tr th:nth-child(1) {
    width: 15%;
    overflow: hidden;
}

.dadTheOrder .listTheOrder tbody tr td:nth-child(2),
.HeadTheOrder tbody tr th:nth-child(2) {
    width: 25%;
    max-width: 25% !important;
}

.HeadTheOrder tbody tr th:nth-child(2) {
    width: 22%;
}

.dadTheOrder .listTheOrder tbody tr td:nth-child(3),
.HeadTheOrder tbody tr th:nth-child(3) {
    width: 13%;
}

.dadTheOrder .listTheOrder tbody tr td:nth-child(4),
.HeadTheOrder tbody tr th:nth-child(4) {
    width: 15%;
}

.listAccount {
    width: 40%;
    margin-right: 5px;
}

.listaccount tbody tr td {
    padding: 10px;
}

.listaccount tbody tr td:nth-child(1),
.HeadListAccount tbody tr th:nth-child(1) {
    width: 30%;
}

.listaccount tbody tr td:nth-child(2),
.HeadListAccount tbody tr th:nth-child(2) {
    width: 30%;
}

.listaccount tbody tr td:nth-child(3),
.HeadListAccount tbody tr th:nth-child(3) {
    width: 20%;
}

.listaccount tbody tr td:nth-child(4),
.HeadListAccount tbody tr th:nth-child(4) {
    width: 20%;
}

.HeadListAccount tbody tr th,
.HeadTheOrder tbody tr th {
    padding: 10px 0;
    height: 90px;
}


/* .HeadListAccount tbody tr,
.HeadTheOrder tbody tr {
    border: 1px solid black;
} */

.deleteAccount {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: var(--primary-color-red);
    color: white;
    transition: 0.3s;
}

.deleteAccount:hover {
    transform: scale(1.2);
}

.cartContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow-y: scroll;
    align-items: center;
    margin: 0px auto 50px;
}

.buttonCart {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 30px;
}

.container-product {
    height: 600px;
    overflow-y: scroll;
    border: 1px solid black;
}

.addCart,
.addBonusCart {
    padding: 10px 20px;
    margin-right: 30px;
    border-radius: 10px;
    border: transparent;
    background-color: var(--primary-color-red);
    color: white;
    transition: 0.3s;
}

.addCart:hover,
.addBonusCart:hover {
    transform: scale(1.1);
}

.title-product,
.title-account-users,
.title-order {
    display: inline-block;
    margin: 50px 0 0 30px;
    padding: 0 20px 10px;
    border-bottom: 3px solid var(--primary-color-red);
}

.title-account-users,
.title-order {
    margin: 20px 0 0 0;
}

.title-product p,
.title-account-users p,
.title-order p {
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
    color: var(--primary-color-red);
    font-weight: bold;
}

.dadListAccount,
.dadTheOrder {
    border: 1px solid black
}

.listprodurt tbody tr th {
    padding: 10px;
    text-align: center;
}

.listprodurt tbody tr th:nth-child(1) {
    width: 5% !important;
}

.listprodurt tbody tr th:nth-child(2) {
    width: 25% !important;
}

.listprodurt tbody tr th:nth-child(3) {
    width: 35% !important;
}

.listprodurt tbody tr th:nth-child(4) {
    width: 10% !important;
}

.listprodurt tbody tr th:nth-child(5) {
    width: 10% !important;
}

.listprodurt tbody tr th:nth-child(6) {
    width: 15% !important;
}

.listprodurt tbody tr th img {
    border-radius: 10px;
}

.settingbutton {
    margin-right: 5px;
}

#adjustButton,
#adjustButtonIV,
#adjustButtonI {
    padding: 4px 7px;
    border-radius: 10px;
    color: white;
    background-color: var(--primary-color-red);
    border: 1px solid transparent;
    text-align: center;
    margin: 5px auto;
}

#dialog-1 label,
#dialog-4 label,
#dialog-2 label {
    margin: 5px 0px;
}

.ui-widget-header {
    background: unset;
    background-color: var(--primary-color-red) !important;
    border: 1px solid transparent;
}

#nameIV,
#priceIV,
#hesoIV,
#nameII,
#priceII,
#typeII,
#nameI,
#priceI,
#typeI {
    border-radius: 5px;
    border: 1px solid;
}


/* .ui-state-default .ui-icon {
    background: unset;
} */