@media only screen and (max-width: 320px) {
     :root {
        --font-size-normal-1: 9px;
        --font-size-normal-2: 8px;
        --font-size-normal-3: 8px;
        --primary-color-red: rgb(221, 0, 0);
        --primary-height-header: 50px;
    }
    header {
        height: var(--primary-height-header);
    }
    .contain-header,
    .content-sale,
    .navigation-bar,
    .content-review,
    .container-cart,
    .main-container-footer {
        width: 100% !important;
    }
    .carousel {
        width: 100% !important;
    }
    .footer-col h3 {
        font-size: var(--font-size-normal-2);
    }
    .footer-col:nth-child(2) a p:last-child,
    .footer-col a,
    .header-choose-domain p,
    #choose-domain p,
    .header-hotline,
    .header-cart,
    .header-login {
        font-size: var(--font-size-normal-3);
    }
    .inf-hotline a p:last-child {
        font-size: var(--font-size-normal-1);
    }
    .main-container-footer,
    .contain-header {
        margin: 0 7px;
    }
    .icon-find {
        width: 26px;
        height: 26px;
        transform: translateY(0px) !important;
    }
    .header-find .search {
        width: 120px;
        height: 25px;
    }
    .header-find .search input {
        padding: 5px 25px 5px 15px;
        width: 100%;
        height: 100%;
    }
    .header-logo {
        width: 100px;
        height: 50px;
    }
    .header-logo img {
        width: 150px;
        height: 50px;
    }
    .header-find i {
        font-size: 12px !important;
        transform: translate(1px, 5px) !important;
    }
    .phone-animation a,
    .content-sale a,
    .navigation-bar ul li a,
    .return {
        font-size: var(--font-size-normal-1);
    }
    .header-choose-domain {
        padding: 0px;
    }
    .contain-header {
        margin: 0px;
    }
    .header-choose-domain {
        padding: 3px;
        margin: 0 5px 0 12px;
    }
    .login button {
        padding: 4px 5px;
        margin: 1px 1px 2px;
    }
    .choose-domain-responsive {
        display: block;
    }
    .main-container {
        transform: translateY(50px);
    }
    .header-choose-domain,
    .header-hotline,
    .header-cart,
    .header-login {
        display: none;
    }
    .navigation-bar ul li a {
        padding: 4px 8px;
        border-radius: 4px;
    }
    .header-hotline {
        margin-left: 10px;
    }
    .header-logo {
        transform: scale(0.8);
    }
    .spinner {
        left: -250px;
    }
    /* .navigation-bar ul li:nth-last-child(2) a,
    .navigation-bar ul li:nth-last-child(3) a {
        display: block;
    }
    .more-nav {
        display: block;
        transform: translate(-7px, 0px);
    } */
    .main-container .choose-domain-responsive .list-header {
        display: block;
        color: var(--primary-color-red);
    }
    .choose-domain-responsive {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .choose-domain-responsive .change-domain {
        margin-left: 10px;
    }
    .main-container .choose-domain-responsive p:first-child {
        display: none;
    }
    .main-container .choose-domain-responsive p:last-child {
        display: block;
    }
    .container-cart .content-right {
        justify-content: center;
    }
    .container-cart .content-right .cart-content {
        width: 90%;
        height: 250px;
    }
    /* .container-cart .content-left {
        display: none;
    } */
    #notified {
        transform: scale(0.7) translateX(-30px);
    }
    /* .inf-hotline {
        width: 100px;
    } */
    /*  */
    .content-left {
        width: 20%;
        margin-right: 0px;
    }
    .content-right {
        padding: 5px;
        width: 80%;
    }
    #searchType,
    #searchPrice,
    #sortPrice,
    #filterButton {
        max-width: 100%;
    }
    #filterButton {
        padding: 5px 10px;
    }
    #searchType,
    #searchPrice,
    #sortPrice,
    #them,
    .soluong {
        font-size: var(--font-size-normal-2);
    }
    .giagoc {
        font-size: var(--font-size-normal-1);
    }
    #searchType option,
    #searchPrice option,
    #sortPrice option,
    #filterButton {
        font-size: var(--font-size-normal-2) !important;
    }
    .nav-title a {
        padding: 4px 8px !important;
    }
    .subtract,
    .add {
        font-size: var(--font-size-normal-3);
        width: 15px !important;
        height: 15px !important;
    }
    .soluong {
        width: 50px !important;
        height: 23px !important;
        font-size: 13px;
    }
    .ten {
        font-size: 13px;
        height: 15%;
        margin: 5px auto 0px !important;
        /* line-height: 2.5 !important; */
    }
    .content-sale {
        margin: 0px;
        padding: 0px;
    }
    .spinner {
        transform: scale(0.7);
    }
    .content-left div label {
        font-size: 13px;
    }
    #nav-selected {
        font-size: 14px;
    }
    .icon-find {
        transform: translateY(2px);
    }
    .icon-find i {
        font-size: 13px;
        transform: translate(1px, 2px)
    }
    .content-left div label {
        font-size: var(--font-size-normal-1);
    }
    .tableCart tbody tr td,
    .waitCart tbody tr td {
        padding: 3px 0px;
        font-size: var(--font-size-normal-1);
    }
    .tableCart tbody tr:first-child th,
    .waitCart tbody tr:first-child th {
        font-size: var(--font-size-normal-1);
        padding: 10px;
    }
    #order {
        padding: 7px 6px;
        border-radius: 6px;
    }
    #deleteItem {
        padding: 7px 9px;
    }
    .tableCart tbody tr td img {
        transform: scale(0.8);
    }
    .subtractCart,
    .addCart {
        width: 12px !important;
        height: 12px !important;
    }
    .box-more {
        border-radius: 5px;
        overflow: hidden;
        transform: translate(0px, 0px)
    }
    .box-more li {
        width: 100px;
        border-radius: 0px !important;
    }
    .navigation-bar-responsive {
        display: flex;
        height: 180px;
        width: 90px;
        padding: 5px;
        top: 80px;
    }
    .navigation-bar-responsive div {
        display: block;
        margin-bottom: 10px;
    }
    .return a i,
    .icon-phone i {
        font-size: 20px;
    }
    .nav-title {
        margin: 0 !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
     :root {
        --font-size-normal-1: 10px;
        --font-size-normal-2: 9px;
        --font-size-normal-3: 8px;
        --primary-color-red: rgb(221, 0, 0);
    }
    header {
        height: 60px;
    }
    .contain-header,
    .content-sale,
    .navigation-bar,
    .content-review,
    .container-cart,
    .main-container-footer {
        width: 100% !important;
    }
    .carousel {
        width: 100% !important;
    }
    .footer-col h3 {
        font-size: var(--font-size-normal-2);
    }
    .footer-col:nth-child(2) a p:last-child,
    .footer-col a,
    .header-choose-domain p,
    #choose-domain p,
    .header-hotline,
    .header-cart,
    .header-login {
        font-size: var(--font-size-normal-3);
    }
    .inf-hotline a p:last-child {
        font-size: var(--font-size-normal-1);
    }
    .main-container-footer,
    .contain-header {
        margin: 0 7px;
    }
    .icon-find {
        width: 27px;
        height: 27px;
        transform: translateY(-1px);
    }
    .header-find .search {
        width: 150px;
        height: 25px;
        transform: translateX(-10px);
    }
    .header-find .search input {
        padding: 5px 25px 5px 15px;
        width: 100%;
        height: 100%;
    }
    .header-logo {
        width: 150px;
        height: 50px;
    }
    /* .header-logo img {
        width: 100%;
        height: 50%;
    } */
    .header-find i {
        font-size: 12px;
        transform: translate(1px, 6px);
    }
    .phone-animation a,
    .content-sale a,
    .navigation-bar ul li a,
    .return {
        font-size: var(--font-size-normal-1);
    }
    .header-choose-domain {
        padding: 0px;
    }
    .contain-header {
        margin: 0px;
    }
    .header-choose-domain {
        padding: 3px;
        margin: 0 5px 0 12px;
    }
    .login button {
        padding: 4px 5px;
        margin: 1px 1px 2px;
    }
    .choose-domain-responsive {
        display: block;
    }
    .main-container {
        transform: translateY(60px);
    }
    .header-choose-domain,
    .header-hotline,
    .header-cart,
    .header-login {
        display: none;
    }
    .navigation-bar ul li a {
        padding: 4px 8px;
        border-radius: 4px;
    }
    .header-hotline {
        margin-left: 10px;
    }
    .header-logo {
        transform: scale(0.8);
    }
    .spinner {
        left: -300px;
    }
    /* .navigation-bar ul li:nth-last-child(2) a,
    .navigation-bar ul li:nth-last-child(3) a {
        display: none;
    } */
    /* .more-nav {
        display: block;
        transform: translate(-7px, 0px);
    } */
    .main-container .choose-domain-responsive .list-header {
        display: block;
        color: var(--primary-color-red);
    }
    .choose-domain-responsive {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .list-header {
        margin-right: 5px;
    }
    .choose-domain-responsive .change-domain {
        margin-left: 10px;
    }
    .main-container .choose-domain-responsive p:first-child {
        display: none;
    }
    .main-container .choose-domain-responsive p:last-child {
        display: block;
    }
    .spinner {
        left: -270px;
    }
    #notified {
        transform: scale(0.7) translateX(-30px);
    }
    .container-cart .content-right .cart-content {
        width: 90%;
        height: 240px;
    }
    /*  */
    .content-left {
        width: 25%;
    }
    .content-right {
        padding: 5px;
        width: 75%;
        justify-content: center;
    }
    #searchType,
    #searchPrice,
    #sortPrice {
        max-width: 100%;
    }
    #searchType,
    #searchPrice,
    #sortPrice,
    #them,
    .soluong {
        font-size: var(--font-size-normal-2);
    }
    .giagoc {
        font-size: var(--font-size-normal-1);
    }
    #searchType option,
    #searchPrice option,
    #sortPrice option,
    #filterButton {
        font-size: var(--font-size-normal-2) !important;
    }
    .nav-title a {
        padding: 4px 8px !important;
    }
    .subtract,
    .add {
        font-size: var(--font-size-normal-3);
        width: 15px !important;
        height: 15px !important;
    }
    .soluong {
        width: 50px !important;
        height: 24px !important;
    }
    .ten {
        font-size: 13px;
        height: 15%;
        margin: 5px auto 0px !important;
    }
    .content-sale {
        margin: 0px;
        padding: 1px 0;
    }
    .spinner {
        transform: scale(0.5);
    }
    .content-left div label {
        font-size: 13px;
    }
    #nav-selected {
        font-size: 14px;
    }
    .content-left div label {
        font-size: var(--font-size-normal-1);
    }
    .tableCart tbody tr td,
    .waitCart tbody tr td {
        padding: 5px 2px;
        font-size: var(--font-size-normal-1);
    }
    .tableCart tbody tr:first-child th,
    .waitCart tbody tr:first-child th {
        font-size: var(--font-size-normal-1);
        padding: 5px;
    }
    #order {
        padding: 7px 6px;
        border-radius: 6px;
    }
    #deleteItem {
        padding: 7px 9px;
    }
    .tableCart tbody tr td img {
        transform: scale(0.9);
    }
    .subtractCart,
    .addCart {
        width: 12px !important;
        height: 12px !important;
    }
    .box-more {
        border-radius: 5px;
        overflow: hidden;
    }
    .box-more li {
        width: 120px;
        border-radius: 0px !important;
    }
    .navigation-bar-responsive {
        display: flex;
        height: 180px;
        width: 90px;
        padding: 5px;
        top: 90px;
    }
    .navigation-bar-responsive div {
        display: block;
        margin-bottom: 10px;
    }
    .return a i,
    .icon-phone i {
        font-size: 25px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 410px) {
     :root {
        --font-size-normal-1: 11px;
        --font-size-normal-2: 10px;
        --font-size-normal-3: 9px;
    }
    header {
        height: 60px;
    }
    .contain-header,
    .content-sale,
    .navigation-bar,
    .content-review,
    .container-cart,
    .main-container-footer {
        width: 100% !important;
    }
    .carousel {
        width: 100% !important;
    }
    .footer-col h3 {
        font-size: var(--font-size-normal-2);
    }
    .footer-col:nth-child(2) a p:last-child,
    .footer-col a,
    .header-choose-domain p,
    #choose-domain p,
    .header-hotline,
    .header-cart,
    .header-login {
        font-size: var(--font-size-normal-3);
    }
    .inf-hotline a p:last-child {
        font-size: var(--font-size-normal-1);
    }
    .main-container-footer,
    .contain-header {
        margin: 0 7px;
    }
    .icon-find {
        width: 26px;
        height: 26px;
    }
    .header-find .search {
        width: 150px;
        height: 32px;
        transform: translateY(3px);
    }
    .header-find .search input {
        padding: 7px 40px 7px 15px;
        width: 100%;
    }
    .header-logo {
        width: 150px;
        height: 50px;
    }
    .header-logo img {
        width: 150px;
        height: 50px;
    }
    .header-find i {
        font-size: 13px;
        transform: translate(1px, 5px);
    }
    .phone-animation a,
    .content-sale a,
    .navigation-bar ul li a,
    .return {
        font-size: var(--font-size-normal-1) !important;
    }
    .header-choose-domain {
        padding: 0px;
    }
    .contain-header {
        margin: 0px;
    }
    .header-choose-domain {
        padding: 3px;
        margin: 0 5px 0 12px;
    }
    .login button {
        padding: 4px 5px;
        margin: 1px 1px 2px;
    }
    .choose-domain-responsive {
        display: block;
    }
    .main-container {
        transform: translateY(60px);
    }
    .header-choose-domain,
    .header-hotline,
    .header-cart,
    .header-login {
        display: none;
    }
    .navigation-bar ul li a {
        padding: 4px 8px;
        border-radius: 4px;
    }
    .header-hotline {
        margin-left: 10px;
    }
    .contain-header .list-header {
        display: block;
    }
    .icon-list {
        color: white;
    }
    .spinner {
        left: -300px;
    }
    /* .more-nav {
        display: block;
        transform: translate(-7px, 0px);
    } */
    #notified {
        transform: scale(0.7) translateX(-30px);
    }
    .container-cart .content-right .cart-content {
        width: 90%;
        height: 240px;
    }
    .content-sale {
        padding: 2px
    }
    /*  */
    .content-left {
        width: 20%;
    }
    .content-right {
        padding: 5px;
        width: 75%;
        justify-content: center;
    }
    #searchType,
    #searchPrice,
    #sortPrice {
        max-width: 100%;
    }
    #searchType,
    #searchPrice,
    #sortPrice,
    #them,
    .soluong {
        font-size: var(--font-size-normal-2);
    }
    .giagoc {
        font-size: var(--font-size-normal-1);
    }
    #searchType option,
    #searchPrice option,
    #sortPrice option,
    #filterButton {
        font-size: var(--font-size-normal-2) !important;
    }
    .nav-title a {
        padding: 4px 8px !important;
    }
    .subtract,
    .add {
        font-size: var(--font-size-normal-3);
        width: 15px !important;
        height: 15px !important;
    }
    .soluong {
        width: 40px !important;
        height: 20px !important;
    }
    .ten {
        font-size: 13px;
        height: 10%;
        margin: 5px auto 0px !important;
        /* line-height: 2.5 !important; */
    }
    .content-sale {
        margin: 0px;
        padding: 2px 0;
    }
    .spinner {
        transform: scale(0.6);
    }
    .content-left div label {
        font-size: 13px;
    }
    #nav-selected {
        font-size: 14px;
    }
    .content-left div label {
        font-size: var(--font-size-normal-1);
    }
    .tableCart tbody tr td,
    .waitCart tbody tr td {
        padding: 5px 2px;
        font-size: var(--font-size-normal-1);
    }
    .tableCart tbody tr:first-child th,
    .waitCart tbody tr:first-child th {
        font-size: var(--font-size-normal-1);
    }
    #order {
        padding: 7px 6px;
        border-radius: 6px;
    }
    #deleteItem {
        padding: 7px 9px;
    }
    .box-more {
        border-radius: 5px;
        overflow: hidden;
    }
    .box-more li {
        width: 120px;
        border-radius: 0px !important;
    }
    .navigation-bar-responsive {
        display: flex;
        height: 200px;
        width: 110px;
    }
    .navigation-bar-responsive div {
        display: block;
        margin-bottom: 10px;
    }
    .return a i,
    .icon-phone i {
        font-size: 25px;
    }
}

@media only screen and (min-width: 410px) and (max-width: 560px) {
     :root {
        --font-size-normal-1: 10px;
        --font-size-normal-2: 9px;
        --font-size-normal-3: 8px;
    }
    header {
        height: 60px;
    }
    .contain-header,
    .content-sale,
    .navigation-bar,
    .content-review,
    .container-cart,
    .main-container-footer {
        width: 100% !important;
    }
    .carousel {
        width: 100% !important;
    }
    .footer-col h3 {
        font-size: var(--font-size-normal-2);
    }
    .footer-col:nth-child(2) a p:last-child,
    .footer-col a,
    .header-choose-domain p,
    #choose-domain p,
    .header-hotline,
    .header-cart,
    .header-login {
        font-size: var(--font-size-normal-3);
    }
    .inf-hotline a p:last-child {
        font-size: var(--font-size-normal-1);
    }
    .main-container-footer,
    .contain-header {
        margin: 0 7px;
    }
    .search {
        width: 200px;
        transform: translateY(3px);
    }
    .icon-find {
        width: 29px;
        height: 29px;
    }
    .header-find .search {
        width: 100%;
        height: 32px;
    }
    .header-find .search input {
        padding: 8px 40px 8px 15px;
        width: 100%;
    }
    .header-logo {
        width: 150px;
        height: 50px;
    }
    .header-logo img {
        width: 150px;
        height: 50px;
    }
    .header-find i {
        font-size: 14px;
        transform: translate(0px, 8px);
    }
    .phone-animation a,
    .content-sale a,
    .navigation-bar ul li a,
    .return {
        font-size: var(--font-size-normal-1);
    }
    .header-choose-domain {
        padding: 0px;
    }
    .contain-header {
        margin: 0px;
    }
    .header-choose-domain {
        padding: 3px;
        margin: 0 5px 0 12px;
    }
    .login button {
        padding: 4px 5px;
        margin: 1px 1px 2px;
    }
    .choose-domain-responsive {
        display: block;
    }
    .main-container {
        transform: translateY(60px);
    }
    .header-choose-domain,
    .header-hotline,
    .header-cart,
    .header-login {
        display: none;
    }
    .navigation-bar ul li a {
        padding: 3px 6px !important;
        border-radius: 2px;
    }
    .header-hotline {
        margin-left: 10px;
    }
    .list-header {
        display: block;
    }
    .icon-list {
        color: white;
    }
    .spinner {
        left: -300px;
        transform: scale(0.5);
    }
    #notified {
        transform: scale(0.7) translateX(-30px);
    }
    .container-cart .content-right .cart-content {
        width: 45%;
        height: 300px;
    }
    /*  */
    .content-left {
        width: 15%;
    }
    .content-right {
        padding: 5px;
        width: 85%;
    }
    #searchType,
    #searchPrice,
    #sortPrice {
        max-width: 100%;
    }
    #searchType,
    #searchPrice,
    #sortPrice,
    #them,
    .soluong {
        font-size: var(--font-size-normal-2);
    }
    .giagoc {
        font-size: var(--font-size-normal-1);
    }
    #searchType option,
    #searchPrice option,
    #sortPrice option,
    #filterButton {
        font-size: var(--font-size-normal-2) !important;
    }
    .nav-title a {
        padding: 4px 8px !important;
    }
    .subtract,
    .add {
        font-size: var(--font-size-normal-3);
        width: 15px !important;
        height: 15px !important;
    }
    .soluong {
        width: 40px !important;
        height: 20px !important;
    }
    .ten {
        font-size: 13px;
        height: 10%;
    }
    .content-sale {
        margin: 0px;
        padding: 2px 0;
    }
    .spinner {
        transform: scale(0.6);
    }
    .content-left div label {
        font-size: 13px;
    }
    #nav-selected {
        font-size: 14px;
    }
    .content-left div label {
        font-size: var(--font-size-normal-1);
    }
    .tableCart tbody tr td,
    .waitCart tbody tr td {
        padding: 5px 2px;
        font-size: var(--font-size-normal-1);
    }
    .tableCart tbody tr:first-child th,
    .waitCart tbody tr:first-child th {
        font-size: var(--font-size-normal-1);
    }
    #order {
        padding: 8px 12px;
    }
    #deleteItem {
        padding: 8px 12px;
    }
    .box-more {
        border-radius: 5px;
        overflow: hidden;
    }
    .box-more li {
        width: 120px;
        border-radius: 0px !important;
    }
    .navigation-bar-responsive {
        display: flex;
        height: 200px;
    }
    .navigation-bar-responsive div {
        display: block;
        margin-bottom: 10px;
    }
    .return a i,
    .icon-phone i {
        font-size: 25px;
    }
}

@media only screen and (min-width: 560px) and (max-width: 660px) {
     :root {
        --font-size-normal-1: 12px;
        --font-size-normal-2: 11px;
        --font-size-normal-3: 10px;
    }
    header {
        height: 80px;
    }
    .contain-header,
    .content-sale,
    .navigation-bar,
    .content-review,
    .container-cart,
    .main-container-footer {
        width: 100% !important;
    }
    .carousel {
        width: 100% !important;
    }
    .footer-col h3 {
        font-size: var(--font-size-normal-2);
    }
    .footer-col:nth-child(2) a p:last-child,
    .footer-col a,
    .header-choose-domain p,
    #choose-domain p,
    .header-hotline,
    .header-cart,
    .header-login {
        font-size: var(--font-size-normal-3);
    }
    .inf-hotline a p:last-child {
        font-size: var(--font-size-normal-1);
    }
    .main-container-footer,
    .contain-header {
        margin: 0 7px;
    }
    .search {
        width: 200px;
    }
    .icon-find {
        width: 29px;
        height: 29px;
    }
    .header-find .search {
        width: 130px;
        height: 32px;
    }
    .header-find .search input {
        padding: 8px 40px 8px 15px;
        width: 130px;
    }
    .header-logo {
        width: 150px;
        height: 50px;
    }
    .header-logo img {
        width: 150px;
        height: 50px;
    }
    .header-find i {
        font-size: 14px;
        transform: translate(1px, 8px);
    }
    .content-sale {
        padding: 2px 0;
    }
    .phone-animation a,
    .content-sale a,
    .navigation-bar ul li a,
    .return {
        font-size: var(--font-size-normal-1);
    }
    .header-choose-domain {
        padding: 0px;
    }
    .contain-header {
        margin: 0px;
    }
    .header-choose-domain {
        padding: 3px;
        margin: 0 5px 0 12px;
    }
    .login button {
        padding: 6px 8px;
        margin: 1px 1px 2px;
    }
    .choose-domain-responsive {
        display: block;
    }
    .main-container {
        transform: translateY(80px);
    }
    .header-choose-domain {
        display: none;
    }
    .navigation-bar ul li a {
        padding: 4px 8px;
        border-radius: 4px;
    }
    .header-hotline {
        margin-left: 10px;
    }
    .spinner {
        left: -300px;
        transform: scale(0.6);
    }
    #notified {
        transform: scale(0.7) translateX(-30px);
    }
    .container-cart .content-right .cart-content {
        width: 45%;
        height: 300px;
    }
    /*  */
    .content-left {
        width: 15%;
    }
    .content-right {
        padding: 5px;
        width: 85%;
    }
    #searchType,
    #searchPrice,
    #sortPrice {
        max-width: 100%;
    }
    #searchType,
    #searchPrice,
    #sortPrice,
    #them,
    .soluong {
        font-size: var(--font-size-normal-2);
    }
    .giagoc {
        font-size: var(--font-size-normal-1);
    }
    #searchType option,
    #searchPrice option,
    #sortPrice option,
    #filterButton {
        font-size: var(--font-size-normal-2) !important;
    }
    .nav-title a {
        padding: 4px 8px !important;
    }
    .subtract,
    .add {
        font-size: var(--font-size-normal-3);
        width: 20px !important;
        height: 20px !important;
    }
    .soluong {
        width: 60px !important;
        height: 30px !important;
    }
    .ten {
        font-size: 14px;
        height: 10%;
    }
    .content-left div label {
        font-size: 14px;
    }
    .content-left div label {
        font-size: var(--font-size-normal-1);
    }
    .tableCart tbody tr td {
        padding: 10px 5px;
    }
    #order {
        padding: 8px 12px;
    }
    #deleteItem {
        padding: 8px 12px;
    }
    .return a i,
    .icon-phone i {
        font-size: 30px;
    }
}

@media only screen and (min-width: 660px) and (max-width: 700px) {
     :root {
        --font-size-normal-1: 12px;
        --font-size-normal-2: 11px;
        --font-size-normal-3: 10px;
    }
    header {
        height: 80px;
    }
    .content-sale {
        transform: translateY(5px);
    }
    .contain-header,
    .content-sale,
    .navigation-bar,
    .content-review,
    .container-cart,
    .main-container-footer {
        width: 100% !important;
    }
    .carousel {
        width: 100% !important;
    }
    .footer-col h3 {
        font-size: var(--font-size-normal-2);
    }
    .footer-col:nth-child(2) a p:last-child,
    .footer-col a,
    .header-choose-domain p,
    #choose-domain p,
    .header-hotline,
    .header-cart,
    .header-login {
        font-size: var(--font-size-normal-3);
    }
    .inf-hotline a p:last-child {
        font-size: var(--font-size-normal-1);
    }
    .main-container-footer,
    .contain-header {
        margin: 0 7px;
    }
    .search {
        width: 200px;
    }
    .icon-find {
        width: 29px;
        height: 29px;
    }
    .header-find .search {
        width: 150px;
        height: 32px;
    }
    .header-find .search input {
        padding: 8px 40px 8px 15px;
        width: 150px;
    }
    .header-logo {
        width: 150px;
        height: 50px;
    }
    .header-logo img {
        width: 150px;
        height: 50px;
    }
    .header-find i {
        font-size: 14px;
        transform: translate(1px, 8px);
    }
    .content-sale {
        padding: 4px 0;
    }
    .phone-animation a,
    .content-sale a,
    .navigation-bar ul li a,
    .return {
        font-size: var(--font-size-normal-1);
    }
    .header-choose-domain {
        padding: 0px;
    }
    .contain-header {
        margin: 0px;
    }
    .header-choose-domain {
        padding: 3px;
        margin: 0 5px 0 12px;
    }
    .login button {
        padding: 6px 8px;
        margin: 1px 1px 2px;
    }
    .spinner {
        left: -300px;
        transform: scale(0.7);
    }
    .container-cart .content-right .cart-content {
        width: 45%;
        height: 300px;
    }
    .content-left {
        width: 15%;
    }
    .content-right {
        padding: 5px;
        width: 85%;
    }
    #searchType,
    #searchPrice,
    #sortPrice {
        max-width: 100%;
    }
    #searchType,
    #searchPrice,
    #sortPrice,
    #them,
    .soluong {
        font-size: var(--font-size-normal-2);
    }
    .giagoc {
        font-size: var(--font-size-normal-1);
    }
    #searchType option,
    #searchPrice option,
    #sortPrice option,
    #filterButton {
        font-size: var(--font-size-normal-2) !important;
    }
    .nav-title a {
        padding: 4px 8px !important;
    }
    .subtract,
    .add {
        font-size: var(--font-size-normal-3);
        width: 20px !important;
        height: 20px !important;
    }
    .soluong {
        width: 60px !important;
        height: 30px !important;
    }
    .ten {
        font-size: 14px;
        height: 10%;
    }
    .content-left div label {
        font-size: 14px;
    }
    .tableCart tbody tr td {
        padding: 10px 5px;
    }
    #order {
        padding: 8px 12px;
    }
    #deleteItem {
        padding: 8px 12px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 780px) {
     :root {
        --font-size-normal-1: 12px;
        --font-size-normal-2: 11px;
        --font-size-normal-3: 10px;
    }
    .contain-header,
    .content-sale,
    .navigation-bar,
    .content-review,
    .container-cart,
    .main-container-footer {
        width: 100% !important;
    }
    .carousel {
        width: 100% !important;
    }
    .footer-col h3 {
        font-size: var(--font-size-normal-2);
    }
    .footer-col:nth-child(2) a p:last-child,
    .footer-col a,
    .header-choose-domain p,
    #choose-domain p,
    .header-hotline,
    .header-cart,
    .header-login {
        font-size: var(--font-size-normal-3);
    }
    .inf-hotline a p:last-child {
        font-size: var(--font-size-normal-1);
    }
    .main-container-footer,
    .contain-header {
        margin: 0 7px;
    }
    .search {
        width: 200px;
    }
    .icon-find {
        width: 29px;
        height: 29px;
    }
    .header-find .search {
        width: 150px;
        height: 32px;
    }
    .header-find .search input {
        padding: 8px 40px 8px 15px;
        width: 150px;
    }
    .header-logo {
        width: 150px;
        height: 50px;
    }
    .header-find i {
        font-size: 14px;
        transform: translate(1px, 8px);
    }
    .phone-animation a,
    .content-sale a,
    .navigation-bar ul li a,
    .return {
        font-size: var(--font-size-normal-1);
    }
    .header-choose-domain {
        padding: 0px;
    }
    .contain-header {
        margin: 0px;
    }
    .header-choose-domain {
        padding: 3px;
        margin: 0 5px 0 12px;
    }
    .spinner {
        left: -350px;
    }
    #searchType,
    #searchPrice,
    #sortPrice,
    #filterButton {
        max-width: 100%;
    }
    .content-left {
        width: 15%;
    }
    .content-right {
        width: 85%;
    }
    .tableCart tbody tr td {
        padding: 10px 5px;
    }
    #order {
        padding: 8px 12px;
    }
    #deleteItem {
        padding: 8px 12px;
    }
}

@media only screen and (min-width: 780px) and (max-width: 949px) {
     :root {
        --font-size-normal-1: 14px;
        --font-size-normal-2: 13px;
        --font-size-normal-3: 12px;
    }
    .contain-header,
    .content-sale,
    .navigation-bar,
    .content-review,
    .container-cart,
    .main-container-footer {
        width: 100% !important;
    }
    .carousel {
        width: 100%;
    }
    .footer-col h3 {
        font-size: var(--font-size-normal-2);
    }
    .footer-col:nth-child(2) a p:last-child,
    .footer-col a,
    .header-choose-domain p,
    #choose-domain p,
    .header-hotline,
    .header-cart,
    .header-login {
        font-size: var(--font-size-normal-3);
    }
    .inf-hotline a p:last-child {
        font-size: var(--font-size-normal-1);
    }
    .main-container-footer,
    .contain-header {
        margin: 0 7px;
    }
    .search {
        width: 200px;
    }
    .icon-find {
        width: 34px;
        height: 34px;
    }
    .header-find .search {
        width: 180px;
        height: 32px;
    }
    .header-find .search input {
        padding: 8px 40px 8px 15px;
        width: 180px;
    }
    .header-logo {
        width: 150px;
        height: 50px;
    }
    .header-find i {
        font-size: 15px;
        transform: translate(1px, 10px);
    }
    .phone-animation a,
    .content-sale a,
    .navigation-bar ul li a,
    .return {
        font-size: var(--font-size-normal-1);
    }
    .content-left {
        width: 20%;
    }
    .content-right {
        padding: 5px;
        width: 80%;
    }
}

@media only screen and (min-width: 950px) {
    .contain-header,
    .navigation-bar,
    .content-review,
    .container-cart,
    .main-container-footer {
        width: 97% !important;
    }
    .carousel {
        width: 100%;
    }
}

@media only screen and (min-width: 1025px) {
    .contain-header,
    .navigation-bar,
    .content-review,
    .container-cart,
    .main-container-footer {
        width: 90% !important;
    }
    .carousel {
        width: 100%;
    }
}

@media only screen and (min-width: 1220px) {
    .contain-header,
    .navigation-bar,
    .content-review,
    .container-cart,
    .main-container-footer {
        width: 75% !important;
    }
    .carousel {
        width: 100%;
    }
}

@media only screen and (min-width: 1250px) {
    .contain-header,
    .navigation-bar,
    .content-review,
    .container-cart,
    .main-container-footer {
        width: 72% !important;
    }
    .carousel {
        width: 100%;
    }
}

@media only screen and (max-width: 510px) {
    .fa-ellipsis-h {
        display: block;
    }
    .box-more {
        display: none;
    }
    .visible {
        display: block!important;
        z-index: 999999!important;
        position: absolute!important;
    }
    .visible li {
        /* background-color: white!important; */
    }
}